<div class="navbar">
    <a href="http://localhost:3000/"><img src="http://arcos-platform.site/wp-content/uploads/2021/01/PosterArtboard-1-copyAsset.png" width="225" height="25"</a>
    <a href="http://localhost:3000/characters">Characters</a>
    <a href="http://localhost:3000/factions">Factions</a>
        <div class="topnav-right">
            
            
            <% if current_user %>
            <%= link_to "Your Crew", user_path(session[:user_id])%>
            <%= link_to "Log Out", logout_path %>
            <% else %>
            <%= link_to "Sign Up", signup_path %> 
            <%= link_to "Log In", login_path %>
            <% end %>
        </div>
</div>
<p id="alert"><%= alert %></p>
<br>
<h1>Login</h1>

<%= form_tag sessions_path do | form | %>
    <div class="field">
        <%= label_tag "Username:"%>
        <%= text_field_tag :email %>
    </div>

    <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
    </div>

    <div class="actions">
        <%= submit_tag "Login" %>
    </div>
<% end %>
<%= link_to 'Back', root_path %>