<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<hr> <br>
<%= link_to '<button type="button">Go to All Factions</button>'.html_safe, factions_path %> <br>
<br>
<%= link_to '<button type="button">Go to All Characters</button>'.html_safe, characters_path %> <br>
<br>
<%= link_to '<button type="button">Go Home</button>'.html_safe, root_path %>