<% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log Out", logout_path %>
<% else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
<% end %>

<p id="notice"><%= notice %></p>
<h1> Star Wars Battle Tracker </h1>
<p> Welcome to the Star Wars Battle Tracker!</p>
<p> In this website, you are able to create a basic Star Wars character of your own and
    pit them against other user's characters and galatic legends throughout the entire Star Wars series! </p>
<br>

<% if session[:user_id] %>
    <%= link_to '<button type="button">See Your Characters</button>'.html_safe, user_path(session[:user_id]) %> <br>
    <% #byebug %>
    <br>
    <%= link_to '<button type="button">Create a New Character</button>'.html_safe, new_character_path %> <br>
    <br>
    <%= link_to '<button type="button">Create a New Battle!</button>'.html_safe, new_character_battle_path(:id => session[:user_id]) %>


    <hr> <br>
    <%= link_to '<button type="button">Go to  Factions</button>'.html_safe, factions_path %> <br>
    <br>
    <%= link_to '<button type="button">Go to  Characters</button>'.html_safe, characters_path %> <br>
<% end %>