<h1> Selected Factions </h1>

<h3> Name: <%=@faction.name%> </h3>
<h3> Description: <%=@faction.description%> </h3>
<h3> Notable Characters: </h3>

<ul>
    <% @faction.characters.each do | character | %>
        <li> <h3> <%= link_to character.name, character_path(character.id) %> <br> </h3>
    <% end %>
</ul> <br>

<hr> <br>
<%= link_to '<button type="button">Go to Factions</button>'.html_safe, factions_path %> <br>
<br>
<%= link_to '<button type="button">Go to Characters</button>'.html_safe, characters_path %> <br>
<br>
<%= link_to '<button type="button">Go Home</button>'.html_safe, root_path %>