


<div class="navbar">
    <a href="http://localhost:3000/"><img src="http://arcos-platform.site/wp-content/uploads/2021/01/PosterArtboard-1-copyAsset.png" width="225" height="25"</a>
    <a href="http://localhost:3000/characters">Characters</a>
    <a href="http://localhost:3000/factions">Factions</a>
        <div class="topnav-right">
            
            
            <% if current_user %>
            <%= link_to "Your Crew", user_path(session[:user_id])%>
            <%= link_to "Log Out", logout_path %>
            <% else %>
            <%= link_to "Sign Up", signup_path %> 
            <%= link_to "Log In", login_path %>
            <% end %>
        </div>
</div>

<% if !session[:user_id] %>
<div class="precontainer">
    
    <div class="banner">
        <div class="app-text">
            <h1>War! </h1>
            <p>
            The republic crumbles<br>
            Its a dark time for the rebellion<br>
            The death star has been destroyed<br>
            The fate of the galaxy falls on you...
            <br> <br>
            Log In to enter the Fray!
            </p>
        </div>
   
    </div>
</div>
<% end %>


<% if session[:user_id] %>
<div class="container">
    
    <div class="banner">
        <div class="app-text">
            <h1>War! </h1>
            <p>
            The republic crumbles<br>
            Its a dark time for the rebellion<br>
            The death star has been destroyed<br>
            The fate of the galaxy falls on you...
            </p>
        </div>
   
    </div>
</div>


<div class="home-body">
    <div class="banner2">
        <div class="app-text">
            <h1>Code Wars</h1>
            <p>
            Welcome to the Star Wars Battle tracker<br>
            Create a basic Star Wars character of your own and<br>
            pit them against other user characters and galatic <br>
            legends throughout the entire Star Wars series!
            </p>
            <a href="http://localhost:3000/characters/new"><div class="gradient-button gradient-button-4">Character Creator
            </div></a>
    
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>


<div class="home-body2">
    <div class="banner3">
        <div class="app-text">
        <h1>Choose a Side</h1>
        <p>
        With the galaxy at war you must choose,<br>
        order and power or justice and peace
        </p>
        <a href="http://localhost:3000/factions"><div class="gradient-button gradient-button-1">Explore Factions
            </div></a>
        
        </div>
    
    </div>
    <br>
    <br>
    <br>
    <br>

</div>


<div class="home-body3">
    <div class="banner4">
        <div class="app-text2">
        <h1>Meet the Heroes</h1>
        <p>
        Play with—and against—Star Wars most feared<br>
        villains and cherished heroes from any era<br>
        including Kylo Ren, Rey, Darth Maul, Yoda, and many more.
        </p>
        <a href="http://localhost:3000/characters"><div class="gradient-button gradient-button-1">Heroes
            </div></a>
        
        </div>
    
    </div>
    <br>
    <br>
    <br>
    <br>

</div>
<div class="home-body4">
    <div class="banner5">
        <div class="app-text2">
        <h1>Duel of Fates</h1>
        <p>
        If your ready and logged in step into the ring!
        </p>
        <%= link_to 'Battle', new_character_battle_path(:id => session[:user_id]), class: "gradient-button gradient-button-2", style: "text-decoration: none" %>

    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<% end %>